## In this exercise, I will work with a dataset called "employee info" that contains information about employees in a company. The dataset includes columns such as Name, Department, Age, Gender, Salary, and Experience.


## Instructions

Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

 employee_df = pd.DataFrame(data)

 

Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
Note:

iloc is used for selection by index location
loc is used for selection by label.

In [41]:
import pandas as pd
#create a dataframe called"employee_df"
df= "employee_df"
#create a dictionary with a variable called data
data={"Name":['John','Mary','Bob','Sarah','Tom','Lisa'],
      "Department":['IT','Marketing','Sales','IT','Finance','Marketing'],
      "Age":[30, 40, 25, 35, 45, 28],
      "Gender":['Male','Female','Male','Female','Male','Female'],
      "Salary":[50000, 60000, 45000, 55000, 70000, 55000],
      "Experience": [3, 7, 2, 5, 10, 4]}
#create a dataframe from this dictionary
employee_df = pd.DataFrame.from_dict(data)
#use the iloc method to select the first 3 rows of the dataframe
first_3_rows = employee_df.iloc[:3]
#use the loc method to select all rows where the department is "Marketing"
marketing_department = employee_df.loc[employee_df["Department"]=='Marketing']
#use the iloc method to select the age and gender columns for the first 4 rows of the dataframe
age_and_gender = employee_df.iloc[:4,[2,3]]
#use the loc method to select the salary and experience column for all rows where the gender is "Male".
salary_experience_male = employee_df.loc[employee_df['Gender'] == "Male", ['Salary', 'Experience']]
#print the results
print(f" {first_3_rows}\n") #first_3_rows of the data frame

print(f"{marketing_department}\n") #marketing department

print(f"{age_and_gender}\n") #age_and_gender(the first four rows)

print(f"{salary_experience_male}") #salary and experience where the gender is male

    Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10